.hero_class{
width:150px;
height:150px;
}

.my_hero_class{
width:150px;
height:150px;
}

#exit_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
color:red;
}

#gosleep_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}

#adventrue_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}
#payauthor_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}

#boss_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}

#menu_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}

#goods_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}

#chat_id{
position:absolute;
width:400px;
height:200px;
background-color: rgba(0,0,0,5),
}

#chatdiv_id{
position:absolute;
top:160px;
left:0px,
}

#select_id{
width:70px;
height:30px;
}

#chatinput_id{
width:300px;
height:20px;
}
#chat_list_id{
overflow: scroll;
height:175px;
scrollX: false
}
li{
list-style:none;
}

#pack_id
{
    position:absolute;
    z-index:6;
    width:720px;
    background-color:#fff;
    display:none;
}
#pack_id tr
{

    height:50px;
}
#pack, tr, td
{
    border: 1px solid #cfa2a2;
    padding:2px
}
td
{
    text-align: center
    width:80px;
    z-index:10;
    background-color:#a57171;
}

#select_yes_id
{
    background-color:#fff;
}
#select_yes_id
{
display:none;
}

#payauthor_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}
