#my_hero{
width:150px;
height:150px;
position:absolute;
}

#my_herolife{
width:100px;
height:50px;
background-color:red;
text-align:center;
position:absolute;
}

#restoration_id{
width:150px;
height:150px;
position:absolute;
left:50%;
top:50%;
}

.hero_class{
width:150px;
height:150px;
}

.my_hero_class{
width:150px;
height:150px;
}

body{
width:800px;
height:800px;
z-index:-1;
}

#exit_id{
position:absolute;
left:50%;
width:100px;
height:30px;
z-index:1;
color:red;
}

#goattack_id{
position:absolute;
left:20%;
width:150px;
height:30px;
background-color:red;
z-index:10;
}
