body{
position:absolute;
width:800px;
height:800px;
background-color:#502A2A;
}

#my_hero{
width:150px;
height:150px;
position:absolute;
}

#my_herolife{
width:100px;
height:50px;
background-color:red;
text-align:center;
position:absolute;
}

.hero_class{
width:150px;
height:150px;
}

.my_hero_class{
width:150px;
height:150px;
}

#exit_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
color:red;
}

#adventrue_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}

#boss_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}

#menu_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}

#goods_id{
position:absolute;
width:100px;
height:30px;
z-index:1;
background-color:red;
}

#goattack_id{
position:absolute;
width:100px;
height:30px;
background-color:red;
z-index:1;
}

#chatinput_id{
width:300px;
height:20px;
}

li{
list-style:none;
}

#chat_id{
position:absolute;
width:400px;
height:200px;
background-color: rgba(0,0,0,5),
}

#chatdiv_id{
position:absolute;
top:160px;
left:0px,
}

.home_class{
position:absolute;
}

#befordoor_id{
position:absolute;
width:150px;
height:150px;
left:350px;
top:50px;
z-index:2;
}

#downdoor_id{
position:absolute;
width:150px;
height:150px;
left:350px;
top:650px;
z-index:2;
}