<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/js/adventrue.js"></script>
    <link rel="stylesheet" href="/static/css/adventrue.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%for monster in monster_list%}
<div class="monster_class" id="{{monster.id}}">
    <img src="{{monster.monstername}}" style="position:absolute;left:{{monster.monster_x}}px;top:{{monster.monster_y}}px;width:150px;height:150px;z-index:2">
    <span class="monsterlife_class" style="position:absolute;left:{{monster.monster_x|add:30}}px;top:{{monster.monster_y}}px;z-index:2;background-color:red;width:80px;height:20px;color:#fff;">{{monster.monsterlife}}</span>
<span class="monsterback_class" style="position:absolute;left:{{monster.monster_x|add:30}}px;top:{{monster.monster_y}}px;z-index:5;background-color:#000;width:0px;height:20px;color:#fff;">
</div>
{%endfor%}
{%for boss in boss_list%}
<div class="boss_class" id="{{boss.id}}">
    <img src="{{boss.bossname}}" style="position:absolute;left:{{boss.boss_x}}px;top:{{boss.boss_y}}px;width:150px;height:150px;z-index:2">
    <span class="bosslife_class" style="position:absolute;left:{{boss.boss_x|add:30}}px;top:{{boss.boss_y}}px;z-index:2;background-color:red;width:80px;height:20px;color:#fff;">{{boss.bosslife}}</span>
<span class="bossback_class" style="position:absolute;left:{{boss.boss_x|add:30}}px;top:{{boss.boss_y}}px;z-index:5;background-color:#000;width:0px;height:20px;color:#fff;">
</div>
{%endfor%}
<img src="{{imagemap}}" style="z-index:-1;position:absolute;left:0px;top:0px;width:1920px;height:1080px">
<input type="button" id="goattack_id" value="战场">
<input type="button" id="exit_id" value="退出">
<input type="button" id="gosleep_id" value="回家">
<input type="button" id="boss_id" value="BOSS">
<input type="button" id="menu_id" value="菜单">
<input type="button" id="goods_id" value="商城">
<dir id="herolife_id"></dir>
<div id="hero_list">
{%for hero in hero_list%}
    {% if hero.username == request.session.username %}
<img alt="hero.herolife" src="/static/image/timg.png" class="my_hero_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y}}px;"><span id="heroname_id">{{hero.heroname}}</span>
    <img id="herofire_id" src="{{hero.herofire}}" style="position:absolute;left:{{hero.weapon_x}}px;top:{{hero.heroweapon_y}}px;">
    <span class="my_herolife_class" style="position:absolute;left:{{hero.hero_x|add:40}}px;top:{{hero.hero_y|add:-25}}px;z-index:0;background-color:red;width:80px;height:20px;color:#fff;">{{hero.herolife}}</span>'
    <span class="my_heroname_class" style="position:absolute;left:{{hero.hero_x|add:40}}px;top:{{hero.hero_y|add:-50}}px;z-index:0;background-color:#f0f;width:100px">{{hero.heroname}}</span>
    <span class="my_herolevel_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y}}px;z-index:0;background-color:#f0f;">Lv{{hero.herolevel}}</span>
    <span class="my_herolifeback_class" style="position:absolute;left:{{hero.hero_x|add:40}}px;top:{{hero.hero_y|add:-25}}px;z-index:0;background-color:#000;width:0px;height:20px"></span>
    {%else%}
    <div class="other_list_class" id="{{hero.id}}">
<img src="/static/image/timg.png" class="hero_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y}}px">
    <img src="/static/image/timg.png" class="hero_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y}}px;">
        <span class="heroname_class" style="position:absolute;left:{{hero.hero_x|add:40}}px;top:{{hero.hero_y|add:-50}}px;z-index:0;background-color:#f0f;width:100px">{{hero.heroname}}</span>
        <span class="herolife_class" style="position:absolute;left:{{hero.hero_x|add:40}}px;top:{{hero.hero_y|add:-25}}px;z-index:0;background-color:red;width:80px;height:20px;color:#fff;">{{hero.herolife}}</span>
        <span class="herolifeback_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y|add:-25}}px;z-index:;background-color:#000;width:0px;height:20px"></span>
        <span class="herolevel_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y}}px;z-index:0;background-color:#f0f;">Lv{{hero.herolevel}}</span>
        <img class="herofire_class" src="{{hero.herofire}}" style="position:absolute;left:{{hero.weapon_x}}px;top:{{hero.weapon_y}}px;">
    </div>
        {%endif%}
    {%endfor%}
</div>
<div id="chat_id">
    <ul style="color:#f0f;">
        {%for chat in chat_list%}
        <li>{{chat.heroname}}说：{{chat.content}}
        </li>
        {%endfor%}
    </ul>
    <div id="chatdiv_id">
    <select id="select_id" style="background-color:#099;border:2px solid #099;">
        <option value="1">世界</option>
        <option value="2">当前</option>
    </select>
    <input id="chatinput_id" name="chatname" type="text" autocomplete="off" >
    </div>
</div>
</body>
</html>