<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <meta charset="UTF-8">
    <title>{{username}}</title>
</head>
<body>
{%for build in build_list%}
<img class="build_class" src="{{build.buildname}}" style="position:absolute;left:{{build.build_x}}px;top:{{build.build_y}}px;width:{{build.build_width}}px;height:{{build.build_height}}px">
{%endfor%}
{%for skill in skill_list%}
<img class="gun_class" src="{{build.buildname}}" style="position:absolute;left:{{skill.skill_x}}px;top:{{skill.skill_y}}px;width:30px;height:30px;alt:{{skill.id}}">
{%endfor%}
<input type="button" id="exit_id" value="退出">
<input type="button" id="gosleep_id" value="去生命之泉">
<img src="{{map.imagemap}}" style="z-index:-1">
<dir id="herolife_id"></dir>
<div id="hero_list">
{%for hero in hero_list%}
    {% if hero.username == request.session.username %}
<img alt="hero.herolife" src="/static/image/timg.png" class="my_hero_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y}}px;"><span id="heroname_id">{{hero.heroname}}</span>
    {%else%}
<img src="/static/image/timg.png" class="hero_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y}}px"><span class="heroname_class">{{hero.heroname}}</span>
    {%endif%}
    {%endfor%}
</div>
<div id="chat_id">
    <ul style="color:#f0f;">
        {%for chat in chat_list%}
        <li>{{chat.heroname}}说：{{chat.content}}
        </li>
        {%endfor%}
    </ul>
    <div id="chatdiv_id">
    <select id="select_id" style="background-color:#099;border:2px solid #099;">
        <option value="1">世界</option>
        <option value="2">当前</option>
    </select>
    <input id="chatinput_id" name="chatname" type="text" autocomplete="off" >
    </div>
</div>
</body>
</html>