<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/js/sleep.js"></script>
    <link rel="stylesheet" href="/static/css/sleep.css"/>
    <meta charset="UTF-8">
    <title>{{username}}</title>
</head>
<body>
<input type="button" id="exit_id" value="退出">
<input type="button" id="goattack_id" value="去战场">
<img src="{{map}}" style="position:absolute;left:0px;top:0px">
<dir id="herolife_id"></dir>
<div id="hero_list">
{%for hero in hero_list%}
    {% if hero.username == request.session.username %}
<img src="/static/image/timg.png" class="my_hero_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y}}px;"><span id="heroname_id">{{hero.heroname}}</span>
    {%else%}
<img src="/static/image/timg.png" class="hero_class" style="position:absolute;left:{{hero.hero_x}}px;top:{{hero.hero_y}}px">
    {%endif%}
    {%endfor%}
</div>
<img id="restoration_id" src="/static/image/restoration.jpg">
</body>
</html>